{% extends '::base.html.twig' %}

{% block body -%}
<h3>{% trans %}Rejestracja nowego użytkownika{% endtrans %}</h3>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}
